<%- layout('layouts/main') %>

<div class="container mt-4">
  <div class="jumbotron w-50">
    <h2>Ingreso Mascota</h2>
    <br />
    <form action="/mascotas" method="post">
      <div class="from-group w-70">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" />
      </div>
      <div class="from-group w-70">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" class="form-control" />
      </div>
      <div class="from-group w-70">
        <label for="nombreMascota">Nombre Mascota:</label>
        <input type="text" name="nombreMascota" id="nombreMascota" class="form-control" />
      </div>
      <select name="tipoMascota">
        <option value="PERRO" selected>PERRO</option>
        <option value="GATO">GATO</option>
        <option value="AVE">AVE</option>
        <option value="ROEDOR">ROEDOR</option>
        <option value="ANFIBIO">ANFIBIO</option>
      </select>
      <div class="from-group w-70">
        <label for="edad">Edad Mascota:</label>
        <input type="number" name="edad" id="edad" class="form-control" />
      </div>
      <div class="from-group w-70">
        <label for="telefono">Telefono:</label>
        <input type="text" name="telefono" id="telefono" class="form-control" />
      </div>
      <div class="from-group w-70">
        <label for="mail">Email:</label>
        <input type="text" name="mail" id="mail" class="form-control" />
      </div>
      <button class="btn btn-success mt-4">Enviar</button>
    </form>
  </div>
</div>
